.sitze {
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-gap: 2px;
}

@media (max-width: calc(1200px + 2rem)) { 
  .sitze {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.sitz {
  /* border: 1px solid; */
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11pt;
  height: 40px;
  width: 100%;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 2px;
  background: white;
  transition: 200ms;
}

.sitz .sitz-link, .sitz-link-first {
  color: black;
  text-decoration: none;
}

.sitz-link-first {
  display: none;
}

@media (max-width: 960px) {
  .sitz {
    height: 20px ;
    width: 20px ;
    line-height: normal;
    margin: auto;
  }

  .sitz-link {
    display: none;
  }

  .sitz-link-first {
    display: block;
  }
}



.spd .sitz-link,
.cdu .sitz-link,
.spd .sitz-link-first, 
.cdu .sitz-link-first {
  color: white;
}

.gruene {
  background: #46962b;
}

.spd, .linke {
  background: #e3000f;
}

.cdu {
  background: #000000;
  color: white;
}

.afd {
  background: #009ce5;
}

.piraten {
  background: #ff8800;
}

/* .linke {
  border: 3px inset #ff0000;
} */

.fdp {
  background: #ffed00;
}

.uwg {
  border: 3px inset #ff8800;
}
