.sitze {
  display: grid;
  width: 960px;
  margin: auto;
}

.sitz {
  border: 1px solid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11pt;
  width: 80px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gruene {
  background: #46962b;
}

.spd {
  background: #e3000f;
}

.cdu {
  background: #000000;
  color: white;
}

.afd {
  background: #009ce5;
}

.piraten {
  background: #ff8800;
}

.linke {
  border: 3px inset #ff0000;
}

.fdp {
  background: #ffed00;
}

.uwg {
  border: 3px inset #ff8800;
}
